<% include partials/header.ejs %>

<main>
    <div class="pic">
        <div class="picture">
            <img src="Assets/imagesme.jpg" alt="Image of me" class="centered-img">
            <div class="content">
                <h1>About Me</h1>
                <p>My name is Afroz Akram, and I currently go to Ontario Tech University. My hobbies are making music, gaming and soccer.</p>
            </div>
        </div>
    </div>

    <section id="video">
        <div class="video-container">
            <video controls unmuted poster="Assets/imagesposter.png" class="centered-video">
                <source src="Assets/images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</main>

<% include partials/footer.ejs %>
