</main>
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">My name is Afroz Akram, I currently go to ontario tech.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
    </p>
</div>
</main>